extends layout


block content
  div(id="mySidenav" class="sidenav" style="background-color:white")
    div(id="messages1" style="height: 79vh; overflow: auto")
      each val in retrieveMessages
        if val.ImpTag
          li(id=val._id class="impMessageStyle")
            div.panel.rounded
              i
                b=val.authName + ' '
                span=val.date
              br
              b=val.message
              br
              span(class="btn btn-info btn-sm fa fa-thumbs-up upvote upImp impMessageStyle" id=val._id)=' ' + val.like
              span(class="btn btn-info btn-sm fa fa-thumbs-down downvote downImp impMessageStyle" id=val._id)=' '+ val.unlike

  div(class="modal fade" id="myModal" role="dialog")
   div(class="modal-dialog")
     div(class="modal-content")
       div(class="modal-header")
         h4(class="modal-title") Todays ProBlem
         button(type="button" class="close" data-dismiss="modal") &times;
       div(class="modal-body")
         p #{question.problem}
       div(class="modal-footer")
         span(class="btn btn-info btn-lg fa fa-thumbs-up voteQuestion impQuestion mr-auto" id=question._id)  #{question.like}
         button(type="button" class="btn btn-default" data-dismiss="modal") Close

  div(id="main" class="container")
    div(id="messages" style="height:79vh; overflow:auto")
      each val in retrieveMessages
        li(id=val._id class="normalMessageStyle")
          div.panel.rounded
            i
              b=val.authName + '  '
              span=val.date + '   '
            br
            b=val.message
            br
            span(class="btn btn-info btn-sm fa fa-thumbs-up upvote upNormal impMessageStyle" id=val._id)=' ' + val.like
            span(class="btn btn-info btn-sm fa fa-thumbs-down downvote downNormal impMessageStyle" id=val._id)=' '+ val.unlike

  div.btn.btn-info(id="count")
  audio(id="notification" src="/../sound/unconvinced.mp3" preload="auto")
  |  <script id="message-template" type="text/template">
  |    <li id="{{messageId}}" class="{{identity}}">
  |      <div class="panel rounded">
  |      <i>
  |          <b>{{from}}</b>
  |          <span>{{createdAt}}</span>
  |      </i>
  |      <br>
  |        <b>{{text}}</b>
  |      <br>
  |     </div>
  |    </li>
  |  </script>
  |    <script src="socket.io/socket.io.js"></script>
  |    <script src="/../javascripts/libs/jquery-3.3.1.min.js"></script>
  |    <script src="/../javascripts/libs/moment.js"></script>
  |    <script src="/../javascripts/libs/mustache.js"></script>
  |    <script src="/../javascripts/libs/deparam.js"></script>
  |    <script src="/../javascripts/chat.js"></script>
  |   <script>localStorage.setItem("token", "#{token}");
  |           localStorage.setItem("question", "#{question._id}");</script>

block footer
  .container.fixed-bottom(style="background-color:white")
    div(class="input-group")
       textarea(name="message" id="txtarea" type="text" class="form-control" autofocus autocomplete="off" placeholder="Type Your Message...")
       div(class="input-group-btn")
         button(class="btn btn-outline-secondary submitbutton"  name="Normal" type="submit") Send
         button(class="btn btn-outline-secondary submitbutton"  name="Important" type="submit" id="markBtn") Mark
